<!doctype html>
<html>
  <head>
    <title>Discord Analysis</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar"> 
        {% for server in servers %}
        <div class="server">
          <p><strong>{{ server.name }}</strong></p>
          <ul>
            {% for channel in server.channels %}
            <li><a href="{{ channel.permalink() }}">#{{ channel.name }}</a> <span class="message-count">[{{ channel.message_count() }}]</span></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}

        <p><a href="/users">Users</a></p>
      </div>

	  <div class="content">
        <div class="search">
          <form method="get" action="/search">
            <input type="text" name="q" class="q" placeholder="Search query" value="{{q}}" />
            <select name="s">
              <option value="">[all servers]</option>
              {% for server in servers %}
                <option value="{{ server.id }}" {% if server.id == s %} selected="selected"{% endif %}>
                  {{ server.name }}
                </option>
              {% endfor %}
            </select>
            <input type="submit" value="Search" />
          </form>
        </div>
        
        <div class="messages">
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
