<li>
  <p>
    <span class="user-name">{{message.user_name}}</span>
    <span class="channel-name">#{{message.channel_name}}</span>
    <span class="server-name">[server: {{message.server_name}}]</span>
    <span class="permalink"><a href="/view/{{message.basename}}/{{message.channel_name}}/{{message.ts}}?q={{q}}">view</a></span>
  </p>
  <p>
    <span class="timestamp">{{message.formatted_ts}}</span>
  </p>
  <p class="message">{{ message.safe_message|safe }}</p>
  {% if message.attachments %}
    <p class="attachments">{{ message.attachments }}</p>
  {% endif %}
</li>
